<div>
  <h2>Select user</h2>
  <input [(ngModel)]="user" type="text">
  <button (click)="fetchUser()">Fetch user data</button>
</div>
<div>
  <h2>Stats</h2>
  TODO
</div>
<div>
  <h2>Tag Cloud</h2>
  todo
</div>
<div class="articles">
  <div *ngFor="let article of articles$ | async" class="article">
    <h2>{{article.title}}</h2>
    <div>
      Twitter: <a href="https://twitter.com/{{article.user.twitter_username}}">Twitter</a>
    </div>
    <div>
      GitHub: {{article.user.github_username }}
    </div>
    <div>
      <img width="50px" [src]="article.user.profile_image" alt="">
    </div>
    <div>
      <h4>Tags</h4>
      <span *ngFor="let tag of article.tag_list">
        {{tag}}
      </span>
    </div>
    <div>
      <h4>Reactions</h4>
      <div>
        {{article.positive_reactions_count}}
      </div>
    </div>
    <div>
      <h4>Published</h4>
      <div>
        {{article.published_timestamp | date}}
      </div>
    </div>
    <div>
      <h4>Link</h4>
      <div><a [href]="article.url">Link</a></div>
    </div>

  </div>
</div>


<router-outlet></router-outlet>